@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

body {
  background: #000;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  animation: twinkle 2s infinite ease-in-out;
  z-index: -1;
}

.container {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.074);
  border: 1px solid aliceblue;
  border-radius: 10px;
  transition: all 0.5s;
}

.inputbox {
  position: relative;
  width: 196px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;

  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-40px);
  font-size: 0, 75em;
}

.inputbox input:focus {
  caret-color: #45f3ff;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
  background-color: transparent;
  /* border: 1px #45f3ff solid; */
  box-shadow: 0px 0px 15px 1px #45f3ff;
  border-radius: 10px;
}
